@import url("theme_variables.css");


*,
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-weight: 300;
}

html {
    max-width: 1280px;
    margin: auto;
}


body {
    color: var(--secondary-color);
    overflow-x: hidden;
    overflow-y: scroll;

}


/* top svg wave styling */
body>#svg {
    filter: drop-shadow(0 0 0.75rem var(--accent-color-2));
    max-width: 1280px;
    fill: var(--accent-color-2);
    position: fixed;
    top: -2vw;
    z-index: -99;
    transform: rotate(180deg);
}


/* header styling */
.header {
    height: 10vh;
    padding: 8vh 5vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    margin-top: 2vh;
    height: 18vh;
    aspect-ratio: 1/1;
    border: 2px solid var(--secondary-color);
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem var(--accent-color-2));
    /* overflow: hidden; */
}

.profile-img * {
    height: 100%;
    border-radius: 25px;
}

.intro {
    font-style: italic;
    padding: 0;
    margin: 0;
}

.hr1 {
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 0.3vh;
    background-color: var(--accent-color);
}

/* end of header styling */

/* skills styling */

#skills-section {
    margin-top: 2vh;
}

.skills-header {
    display: flex;
}

.skills-header .col {
    color: var(--accent-color);
    background-color: var(--tertiary-color);
}

.col {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    flex: 1;
}

.skills {
    display: flex;
}

.skills .col2 {
    width: 100%;
    margin: 1vh;
}

.skills .row {
    font-size: 0.9rem;
    /* flex: 1;
    border: 1px solid red; */
    width: 100%;
    border-bottom: 1px solid var(--accent-color-2);
    padding: 1vh;
    text-align: center;
    justify-content: space-around;
}

/* end of skills styling */


/* about section styling */
#about {
    font-size: 1.2rem;
    padding: 0vw 3vw;
    text-align: justify;
    text-align-last: justify;
}

/* end of about section styling */

/* work experience section styling */

.flex-container {
    margin-bottom: 2vh;
    overflow: hidden;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
}

.xp-title {
    color: var(--accent-color);
    padding: 0.7rem;
    flex: 1;
    background-color: var(--tertiary-color);
}

.xp-title * {
    margin: auto;
}

.experience {
    flex: 3;
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}

/* end of work experience section styling */

/* educational background section styling */
.table {
    border: 1px solid var(--accent-color);
    overflow: hidden;

    border-radius: 25px;
}

.thead {
    color: var(--accent-color);
    background-color: var(--tertiary-color);
}

th,
td {
    border: none;
    padding: 10px;
}

table td+td {
    border-left: 2px solid var(--accent-color);
}

/* end of educational background section styling */

/* hooby list styling */

.hobby-container {
    margin-top: 2vh;
}


.hobby-list {
    display: flex;
    /* border: 1px solid red;
    width: 100%; */
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-around;
}


.hobby {
    font-size: large;
    line-height: 200%;
    margin: 0.6vh 0.6vw;
    height: 22vh;
    aspect-ratio: 1/1;
    border: 1px solid var(--accent-color);
    border-radius: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
    /* filter: drop-shadow(0 0 0.75rem var(--secondary-color)); */
}

/* end of hobby list styling */