:root {
    --accent-color: rgb(75, 117, 150);
    --accent-color-2: rgb(161, 178, 191);
    --secondary-color: gray;
    --tertiary-color: lightgrey;
    --font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}