:root {
    --accent-color: rgb(255, 115, 0);
    --accent-color-2: rgb(0, 46, 80);
    --secondary-color: gray;
    --tertiary-color: rgb(237, 237, 237);
    --font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}